[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blocklength"]
	path = blocklength
	url = https://github.com/alec-stashevsky/blocklength
